**MANTHA SRI HARSHA**

In [6]:
!unzip complaints.csv.zip

Archive:  complaints.csv.zip
  inflating: complaints.csv

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('complaints.csv')

data.head()

<ipython-input-7-f1f779e0e42b>:6: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('complaints.csv')

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,2023-04-21,Debt collection,Mortgage debt,False statements or representation,Told you not to respond to a lawsuit they file...,NaN,NaN,Rent Recovery Solutions,TX,75071.0,NaN,NaN,Web,2023-04-21,Closed with explanation,Yes,NaN,6872887
1,2023-04-15,Debt collection,I do not know,Attempts to collect debt not owed,Debt was result of identity theft,NaN,NaN,Experian Information Solutions Inc.,VA,23847.0,NaN,NaN,Web,2023-04-15,In progress,Yes,NaN,6843027
2,2023-04-15,"Credit reporting, credit repair services, or o...",Credit reporting,Improper use of your report,Reporting company used your report improperly,NaN,NaN,Experian Information Solutions Inc.,CA,92557.0,NaN,NaN,Web,2023-04-15,In progress,Yes,NaN,6839278
3,2023-04-14,"Credit reporting, credit repair services, or o...",Credit reporting,Incorrect information on your report,Information belongs to someone else,NaN,NaN,Experian Information Solutions Inc.,TX,77044.0,NaN,NaN,Web,2023-04-14,In progress,Yes,NaN,6840814
4,2023-04-14,"Credit reporting, credit repair services, or o...",Credit reporting,Incorrect information on your report,Information belongs to someone else,NaN,NaN,Experian Information Solutions Inc.,MA,1109.0,NaN,NaN,Web,2023-04-14,In progress,Yes,NaN,6841444

In [8]:
print(data.shape)

(3572479, 18)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3572479 entries, 0 to 3572478
Data columns (total 18 columns):
 #   Column                        Dtype
---  ------                        -----
 0   Date received                 object
 1   Product                       object
 2   Sub-product                   object
 3   Issue                         object
 4   Sub-issue                     object
 5   Consumer complaint narrative  object
 6   Company public response       object
 7   Company                       object
 8   State                         object
 9   ZIP code                      object
 10  Tags                          object
 11  Consumer consent provided?    object
 12  Submitted via                 object
 13  Date sent to company          object
 14  Company response to consumer  object
 15  Timely response?              object
 16  Consumer disputed?            object
 17  Complaint ID                  int64
dtypes: int64(1), object(17)
memory usage: 490.6+ MB

In [11]:
df = data['Product']

In [30]:
pd.DataFrame(df.unique())

                                                    0
0                                     Debt collection
1   Credit reporting, credit repair services, or o...
2                         Credit card or prepaid card
3                               Vehicle loan or lease
4   Money transfer, virtual currency, or money ser...
5                         Checking or savings account
6                                        Student loan
7                                            Mortgage
8                                    Credit reporting
9           Payday loan, title loan, or personal loan
10                                    Money transfers
11                                        Credit card
12                            Bank account or service
13                                        Payday loan
14                                      Consumer Loan
15                                       Prepaid card
16                            Other financial service
17                                   Virtual currency

In [26]:
df2 = pd.Categorical(df)

In [32]:
df_cat = df2.remove_categories(['Virtual currency', 'Other financial service','Prepaid card','Payday loan','Bank account or service','Credit card','Money transfers','Payday loan, title loan, or personal loan','Credit reporting','Student loan','Checking or savings account','Money transfer, virtual currency, or money service','Vehicle loan or lease','Credit card or prepaid card'])

In [39]:
df_cat.dropna()

['Debt collection', 'Debt collection', 'Credit reporting, credit repair services, or ..., 'Credit reporting, credit repair services, or ..., 'Credit reporting, credit repair services, or ..., ..., 'Mortgage', 'Mortgage', 'Mortgage', 'Mortgage', 'Credit reporting, credit repair services, or ...]
Length: 2694147
Categories (4, object): ['Consumer Loan', 'Credit reporting, credit repair services, or ...,
                         'Debt collection', 'Mortgage']

In [40]:
pd.DataFrame(df_cat.unique())

                                                   0
0                                    Debt collection
1  Credit reporting, credit repair services, or o...
2                                                NaN
3                                           Mortgage
4                                      Consumer Loan